.form__name-input,
.form__tel-input {
    margin-top: .8rem;
    border-color: rgb(56, 234, 240);
}

.ekle-btn {
    width: 100%;
    max-width: 200px;
    background-color: rgb(14, 14, 58);
    color: #fff;
    padding: .5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: .8rem auto 0;
    font-size: 18px;
}